<%include ./partials/header %>
<div class="contact">
     <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
<div class="container">
   
    <h1>Co-ordinator</h1>
    <div class="row flex">
        <div class="col-lg-6 col-sm-6">
            <div class="ktck">
               <div class="thumbnail">
                   
                  <img src="/images/abhi.jpg" alt="Pandey" />
                  <div class="caption">
                      <p>
                          <strong>Abhishek Pandey</strong>
                      </p>
                  <p>
                     <strong>Mobile:</strong> 7379480011
                  </p>
                  <p>
                     <strong>Email:</strong> abhishektheace02@gmail.com
                  </p>
                  </div>
               </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="ktck">
               <div class="thumbnail">
                  <img src="/images/nasar2.jpg" alt="Nasar"/>
                  <div class="caption">
                      <p>
                          <strong>Nasar Ahmad Zafar</strong>
                      </p>
                  <p>
                      <strong>Mobile:</strong> 7081469405
                  </p>
                  <p>
                      <strong>Email:</strong> Nasarjk0901@gmail.com
                  </p>
                  </div>
               </div>
            </div>
        </div>
    </div>
    
</div>
</div>
<div class="jumbotron">
        <header>
            <h1>Meet Our Web Team</h1>
        </header>
        <div class="container">
            <div class="row flex webs">
                <div class="col-lg-12 col-sm-12">
                   <div class="thumbnail">
                       <img src="/images/avinash.jpg">
                        <div class="caption">
                            <h3>Avinash Kumar Yadav</h3>
                            <p><strong>Mobile:</strong> 9839838320</p>
                            <p><a href="https://www.facebook.com/avinashkumar.yadav.3726" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/avinash-kumar-yadav-3b16b112b/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
                            <a href="https://plus.google.com/u/0/108825138918975725701" target="_blank"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
                            </p>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        
        
</div>
<%include ./partials/footer %>