<% include ./partials/header %>
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

<div id="dance">
    <div id="dance1"><h1>Happy Feet</h1></div>
   
    <div id="dance3">
         <p> <span class="cord1">Event Head:</span> Abhishek Pandey</p>
         <p> <span class="cord1">Cultural Secretary:</span> Nasar Ahmad Zafar</p>
         <p><span class="cord1">Co-ordinator:</span>Rishap Verma, Sapna Singh, Abhimanyu Gautam</p>
    </div>
    
</div>
<div id="sing">
    <div id="sing1"><h1>SurKshetra</h1></div>
    
    <div id="sing3">
         <p> <span class="cord">Event Head:</span> Abhishek Pandey</p>
         <p> <span class="cord">Cultural Secretary:</span> Nasar Ahmad Zafar</p>
         <p><span class="cord">Co-ordinator:</span> Kamesh Arvind, Abhishek Pandey, Mansi Bisht</p>
    </div>
</div>
<div id="rampwalk">
    <div id="rmp1"><h1>Fashion Street</h1></div>
    
    <div id="rmp3">
         <p> <span class="cord">Event Head:</span> Abhishek Pandey</p>
         <p> <span class="cord">Cultural Secretary:</span> Nasar Ahmad Zafar</p>
         <p><span class="cord">Co-ordinator:</span> Urja Srivastava, Mansi Bisht, Nitin Sahu</p>
    </div>
</div>
<div id="pi">
     <div id="pi1"><h1>Starry Debut</h1></div>
    <div id="pi3">
         <p> <span class="cord">Event Head:</span>Abhishek Pandey </p>
         <p> <span class="cord">Cultural Secretary:</span> Nasar Ahmad Zafar</p>
         <p><span class="cord">Co-ordinator:</span> Nasar Ahmad Zafar, Abhishek Pandey, Shishir Pratap Singh</p>
    </div>
    
</div>
<div id="drama">
    <div id="drama1">
    <h1>Caravan</h1>
    </div>
    
    
    <div id="drama2">
    
    <p> <span class="cord">Event Head:</span> Abhishek Pandey</p>
    <p> <span class="cord">Cultural Secretary:</span> Nasar Ahmad Zafar</p>
    <p><span class="cord">Co-ordinator:</span> Vipul Vashishtha, Ayush Raj Srivastava, Rajat Mittal</p>
    </div>
</div>
<% include ./partials/footer %>