<% include ./partials/header %>
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
<div class=" teamS">
    <div class="container nitin">
        <h1>Creative Team</h1>
        
            <img src="/images/sahu1.jpg" alt="nitin">
            <img src="/images/mansi.jpg" alt="mansi">
     </div>   
    
</div>
<div class="wholeTeam">
<div class="container ">
    <h1>Captains of the Ship</h1>
    <h2>CSE Batch</h2>
    <div class="row flex">
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/pandey.jpg" alt="pandey">
                        <div class="caption">
                            Abhishek Pandey
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/tiwari.jpg" alt="tiwari">
                        <div class="caption">
                            Akhil Tiwari
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/atul.jpg" alt="kaithal">
                        <div class="caption">
                            Atul Kaithal
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/avinash.jpg" alt="Avinash">
                        <div class="caption">
                            Avinash Kumar Yadav
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/ayushraj.jpg" alt="AyushRaj">
                        <div class="caption">
                            Ayush Raj Srivastava
                        </div>
                    </div>
        </div><div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/ayush.jpg" alt="Ayush">
                        <div class="caption">
                            Ayush Singh
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/chandan.jpg" alt="chandan">
                        <div class="caption">
                            Chandan Shah
                        </div>
                    </div>
        </div><div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/dev.jpg" alt="Dev">
                        <div class="caption">
                            Dev Chaturvedi
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/harsh.jpg" alt="Harsh">
                        <div class="caption">
                            Harsh Maurya
                        </div>
                    </div>
        </div><div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/aditya.jpg" alt="Mergoju">
                        <div class="caption">
                            Mergoju Aditya
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/mukesh.jpg" alt="Mukeshwar">
                        <div class="caption">
                            Mukeshwar Gupta
                        </div>
                    </div>
        </div><div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/sahu2.jpg" alt="Nitin">
                        <div class="caption">
                            Nitin Sahu
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/phool.jpg" alt="phool">
                        <div class="caption">
                            Phool Kumar
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/rajat.jpg" alt="Mittal">
                        <div class="caption">
                            Rajat Mittal
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/rishap.jpg" alt="rishap">
                        <div class="caption">
                            Rishap Verma
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/sapna.jpg" alt="sapna">
                        <div class="caption">
                            Sapna Singh
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/satyam.jpg" alt="satyam">
                        <div class="caption">
                            Satyam Raj
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/satya.jpg" alt="satya">
                        <div class="caption">
                            Satyaprakash Prajapati
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/souvic.jpg" alt="souvic">
                        <div class="caption">
                            Souvik Das
                        </div>
                    </div>
        </div>
        
        
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/urja.jpg" alt="urja">
                        <div class="caption">
                            Urja Srivastava
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/vipul.jpg" alt="vipul">
                        <div class="caption">
                            Vipul Vashishtha
                        </div>
                    </div>
        </div>
        
    </div>
    <br>
    <br>
    <h2>ECE Batch</h2>
    <div class="row flex">
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/abhimanyu.jpg" alt="abhimanyu">
                        <div class="caption">
                            Abhimanyu Gautam
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/adarsh.jpg" alt="adarsh">
                        <div class="caption">
                            Adarsh D.N.
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/akc.jpg" alt="akc">
                        <div class="caption">
                            Akhilendra Kumar Chaurasiya
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/amit.jpg" alt="amit">
                        <div class="caption">
                            Amit Sharma
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/ashrafia.jpg" alt="ashrafia">
                        <div class="caption">
                            Ashrafia
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/azhar.jpg" alt="azhar">
                        <div class="caption">
                            Azharuddeen
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/garima.jpg" alt="garima">
                        <div class="caption">
                            Garima Singh
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/meena.jpg" alt="meena">
                        <div class="caption">
                            Harsh Dev Meena
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/venkatesh.jpg" alt="venkatesh">
                        <div class="caption">
                            K. Venkatesh
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/sneha.jpg" alt="sneha">
                        <div class="caption">
                            Kamble Sneha Shrimant
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/kamesh.jpg" alt="kamesh">
                        <div class="caption">
                            Kamesh Arvind
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/mansi2.jpg" alt="mansi">
                        <div class="caption">
                            Mansi Bisht
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/maxwell.jpg" alt="maxwell">
                        <div class="caption">
                           Maxwell W. Pensulu 
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/nasar.jpg" alt="Nasar">
                        <div class="caption">
                            Nasar Ahmad Zafar
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/ravikant.jpg" alt="ravikant">
                        <div class="caption">
                            Ravikant
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/ritvik.jpg" alt="ritvik">
                        <div class="caption">
                            Ritvik Shukla
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/shishir.jpg" alt="shishir">
                        <div class="caption">
                            Shishir Pratap Singh
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/sneh.jpg" alt="sneh">
                        <div class="caption">
                            Sneh Suman
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/tarun.jpg" alt="tarun">
                        <div class="caption">
                            Tarun Manoher Neredimelli
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/uranveer.jpg" alt="uranveer">
                        <div class="caption">
                            Uranveer Rawat
                        </div>
                    </div>
        </div>
        <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/yeluri.jpg" alt="yelluri">
                        <div class="caption">
                            Yeluri Rajkumar
                        </div>
                    </div>
        </div>
        
    </div>
</div>  
</div>
<% include ./partials/footer %>